version: "3.8"

services:
  livekit:
    image: livekit/livekit-server
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
    environment:
      LIVEKIT_CONFIG: |
        port: 7880
        bind_addresses:
          - 0.0.0.0

        keys:
          devkey: secret

        rtc:
          port_range_start: 7882
          port_range_end: 7882

        turn:
          enabled: false
    command: --dev

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ENV: local
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
